.menu__lista{
    display: flex;
}

@media screen and (min-width: 0px) {
    .menu__lista{
        background: #DA2B1F;
        width: 100vw;
        flex-direction: column;
        align-items: center;
    }
}

@media screen and (min-width: 384px) {
    .menu__lista{
        width: auto;
        background: none;
        flex-direction: row;
    }
}